{{> header }}

{{> nav }}

    <div class="row">

        <div class="col-8">
            <h1>Sobre Nosotros</h1>
            <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis commodi cumque eveniet explicabo illo in, iste minima necessitatibus neque nihil obcaecati quae quam, qui recusandae sed similique tempore temporibus voluptates.</span><span>Adipisci aliquam aperiam aut eos esse facere fugiat iusto libero minima, minus neque nihil officia, possimus quae quaerat repellat sequi sint ullam veniam voluptate! A atque autem doloremque ea ex.</span><span>Ab accusamus ad alias eligendi eos eum fuga, harum ipsa, ipsum pariatur quaerat quod reiciendis repudiandae sit tenetur ut vel veniam vitae. Ad consectetur consequuntur iste minus provident quod sint.</span><span>Dolorum fugit optio quis ullam voluptatibus! Nobis, sint voluptas. Adipisci animi aspernatur ipsum iusto libero, nihil placeat possimus quia sint vel? Aliquid aspernatur dolorum error iure laborum quas quidem quisquam.</span><span>Alias at cupiditate, explicabo molestias neque possimus quis rerum tempora voluptates? Ad corporis ducimus id ipsam odio quas quos soluta. Adipisci dolores iste laborum minus officia omnis praesentium quasi quia.</span></p>
        </div>

        <div class="col-4">
            <img src="../../assets/img/img1.jpeg" alt="" class="img-thumbnail">
        </div>

    </div>

{{> footer}}
